* {
    font-family: 'Montserrat', sans-serif;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:inherit;
}

a:hover {
    text-decoration:underline #D4A243 ;
    color: inherit;
}

header {
    background: #770D17;
    height: 130px;
    position: sticky;
    top: 0;
    z-index: 2;
    .wrapper {
        margin: 0 auto;
        height: inherit;
        width:85%;
        display: flex;
        justify-content: space-between;
        align-items:center;
        nav {
            padding-top: 15px;
            width: 55%;
            .nav_list {
                display: flex;
                justify-content: space-between;
                &_item {
                    margin-top: 15px;
                    font-size: 14px;
                    color:#fff;
                }
                .active {
                    font-weight: 900;
                    background: #90A74C;
                    border-radius: 10px;
                    margin-top: 0;
                    padding: 15px 25px;
                }
            }
        }
        .cart {
            margin-left: 25px;
            display: flex;
            justify-content: space-between;
            img {
                margin-right: 5px;
            }
            &_text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color:#fff;
                .divider {
                    height: 1px;
                    background-color: #fff;
                }
                div:first-child {
                    font-size: 14px;
                }
                div:last-child {
                    font-size: 10px;
                    margin-top: 15px;
                    text-align: right;
                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.delivery {
    background: linear-gradient(180deg, #FD8141 35.25%, #FFFFFF 100%);
    .container {
        width: 60%;
        margin: 0 auto;
        h1 {
            text-align: center;
            padding: 100px;
            font-weight: 900;
            font-size: 72px;
        } 
    }
    .wrapper {
        display: flex;
        justify-content: space-between;
        .delivery_text {
            width: 59%;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            p {
                margin-bottom: 34px;
            }
        }
        .delivery_items {
            width: 34%;
            display: flex;
            flex-direction: column;
            
            
            justify-content: space-around;
            h2 {
                text-align: center;
                font-weight: 500;
                font-size: 18px;
                width: 50%;
                margin: 0 auto;
                padding: 12px 10px;
                color:#fff;
                margin-bottom: 24px;
            }
            p {
                text-align: center;
                font-size: 14px;
                // &:nth-child(2) {
                //     margin-right: 100px;
                // }
                // &:last-child {
                //     display: block;
                //     text-align: center;
                // }
                span {
                    text-decoration-line: underline;
                }
            }
        }
        .green_zone {
            h2 {
                background: #79BF1C;
                border-radius: 15px;
            }
            padding: 10px 20px 5px 20px;
            background: rgba(121, 191, 28, 0.4);
            border: 1px solid #000000;
            border-radius: 36px;
            
        }
        .blue_zone {
            h2 {
                background: #1C40BF;
                border-radius: 15px;
            }
            padding: 10px 20px 5px 20px;
            height: 230px;
            height: 230px;
            background: rgba(28, 64, 191, 0.4);
            border: 1px solid #000000;
            border-radius: 36px;
        }
    }
    img {
        width: 100%;
        display: block;
        margin: 0 auto;
        margin-bottom: 66px;
    }
}

footer {
    height: 130px;
    background: #770D17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#FFFFFF;
    padding:15px 55px 0 55px;
    .order {
        p:last-child {
            margin-bottom: 0;
        }
    }
    .contacts {
        a {
            margin-right: 10px;
        }
    }
}

.delivery_flex_row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.delivery_flex_collumn {
    display: flex;
    flex-direction: column;
}