* {
    font-family: 'Montserrat', sans-serif;
}



ul {
    list-style: none;
}

html {
    width: 100%;
}
body {
    width: 100%;
}
a {
    text-decoration: none;
    color:inherit;
}

a:hover {
    text-decoration:underline #D4A243 ;
    color: inherit;
}

header {
    background: #770D17;
    height: 130px;
    position: sticky;
    top: 0;
    z-index: 2;
    .wrapper {
        margin: 0 auto;
        height: inherit;
        width:85%;
        display: flex;
        justify-content: space-between;
        align-items:center;
        nav {
            padding-top: 15px;
            width: 55%;
            .nav_list {
                display: flex;
                justify-content: space-between;
                &_item {
                    margin-top: 15px;
                    font-size: 14px;
                    color:#fff;
                }
                .active {
                    font-weight: 900;
                    background: #90A74C;
                    border-radius: 10px;
                    margin-top: 0;
                    padding: 15px 25px;
                }
            }
        }
        .cart {
            margin-left: 25px;
            display: flex;
            justify-content: space-between;
            img {
                margin-right: 5px;
            }
            &_text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color:#fff;
                .divider {
                    height: 1px;
                    background-color: #fff;
                }
                div:first-child {
                    font-size: 14px;
                }
                div:last-child {
                    font-size: 10px;
                    margin-top: 15px;
                    text-align: right;
                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.menu {
    width: 100%;
    background: linear-gradient(180deg, #FD8141 35.25%, #FFFFFF 100%);
    padding-top: 61px;
    h1 {
        text-align: center;
        font-weight: 900;
        font-size: 72px;
        margin-bottom: 62px;
    }
    .wrapper {
        width: 100%;
        text-align: center;
    }
    .category {
        width: 75%;
        padding: 10px 5px;
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 23px;
        display: inline-flex;
        align-items: center;
        &_item {
            width: 12.5%;
            margin: 0 8px;
            padding: 0 15px;
            img {
                display: block;
                margin: 0 auto;
            }
            p {
                margin-bottom: 0;
            }
        }
        .active_item {
            background: rgba(254, 194, 0, 0.75);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 13px;
        }
    }
    .product {
        width: 100%;
        padding: 75px 67px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &_item {
           width:95%;
           min-height: 450px;
           background-color: #fff;
           border: 1px solid #000000;
           border-radius: 63px;
           margin-bottom: 75px;
           .product_img {
               width:100%;
               padding: 13%;
               border-bottom: 1px solid #000000;
               img {
                   width: 100%;
               }
           }
           .product_desc {
               padding: 35px 50px;
               text-align: left;
               height: 50%;
               h2 {
                   width: 66%;
                font-weight: 500;
                font-size: 18px;
               }
               p {
                   width: 100%;
                font-weight: 500;
                font-size: 12px;
                line-height: 24px;
               }
               .price_in_cart {
                   display: flex;
                   justify-content:space-between;
                   .price {
                    font-weight: 500;
                    font-size: 20px;
                   }
                   .in_cart {
                    width: 50%;
                    height: 55px;
                    background: #770D17;
                    border: 1px solid #000000;
                    border-radius: 20px;
                    color:#fff;
                    font-weight: 500;
                    font-size: 14px;
                    transform: translateY(22%);
                   }
               }
               .gram {
                   margin-top: 23px;
                    font-weight: 500;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.5)
                }
           } 
        }
    }
}



footer {
    height: 130px;
    background: #770D17;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#FFFFFF;
    padding:15px 55px 0 55px;
    .order {
        p:last-child {
            margin-bottom: 0;
        }
    }
    .contacts {
        a {
            margin-right: 10px;
        }
    }
}